# Extract

In [1]:
import pandas as pd

df = pd.read_csv("Financials.csv")
display(df)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$7,42,500.00","$1,11,375.00","$6,31,125.00","$6,18,750.00","$12,375.00",01/03/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$1,63,800.00","$24,570.00","$1,39,230.00","$1,36,500.00","$2,730.00",01/10/2014,10,October,2014
697,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",01/02/2014,2,February,2014
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,01/04/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",01/05/2014,5,May,2014

# Transform

In [2]:

print(df.columns)
df.columns = df.columns.str.strip()
print(df.columns)

Index(['Segment', 'Country', ' Product ', ' Discount Band ', ' Units Sold ',
       ' Manufacturing Price ', ' Sale Price ', ' Gross Sales ', ' Discounts ',
       '  Sales ', ' COGS ', ' Profit ', 'Date', 'Month Number',
       ' Month Name ', 'Year'],
      dtype='object')
Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       'Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [3]:
df = df.replace({'\$': '', '-': ''}, regex=True)
display(df)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"1,618.50",3.00,20.00,"32,370.00",,"32,370.00","16,185.00","16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"1,321.00",3.00,20.00,"26,420.00",,"26,420.00","13,210.00","13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"2,178.00",3.00,15.00,"32,670.00",,"32,670.00","21,780.00","10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.00,3.00,15.00,"13,320.00",,"13,320.00","8,880.00","4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"2,470.00",3.00,15.00,"37,050.00",,"37,050.00","24,700.00","12,350.00",01/06/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,"2,475.00",260.00,300.00,"7,42,500.00","1,11,375.00","6,31,125.00","6,18,750.00","12,375.00",01/03/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.00,260.00,300.00,"1,63,800.00","24,570.00","1,39,230.00","1,36,500.00","2,730.00",01/10/2014,10,October,2014
697,Government,Mexico,Montana,High,"1,368.00",5.00,7.00,"9,576.00","1,436.40","8,139.60","6,840.00","1,299.60",01/02/2014,2,February,2014
698,Government,Canada,Paseo,High,723.00,10.00,7.00,"5,061.00",759.15,"4,301.85","3,615.00",686.85,01/04/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,"1,806.00",250.00,12.00,"21,672.00","3,250.80","18,421.20","5,418.00","13,003.20",01/05/2014,5,May,2014

In [4]:
valor =' None '

df = df.drop(df[df['Discount Band'] == valor].index)
display(df)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
53,Government,France,Paseo,Low,"3,945.00",10.00,7.00,"27,615.00",276.15,"27,338.85","19,725.00","7,613.85",01/01/2014,1,January,2014
54,Midmarket,France,Paseo,Low,"2,296.00",10.00,15.00,"34,440.00",344.40,"34,095.60","22,960.00","11,135.60",01/02/2014,2,February,2014
55,Government,France,Paseo,Low,"1,030.00",10.00,7.00,"7,210.00",72.10,"7,137.90","5,150.00","1,987.90",01/05/2014,5,May,2014
56,Government,France,Velo,Low,639.00,120.00,7.00,"4,473.00",44.73,"4,428.27","3,195.00","1,233.27",01/11/2014,11,November,2014
57,Government,Canada,VTT,Low,"1,326.00",250.00,7.00,"9,282.00",92.82,"9,189.18","6,630.00","2,559.18",01/03/2014,3,March,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,"2,475.00",260.00,300.00,"7,42,500.00","1,11,375.00","6,31,125.00","6,18,750.00","12,375.00",01/03/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.00,260.00,300.00,"1,63,800.00","24,570.00","1,39,230.00","1,36,500.00","2,730.00",01/10/2014,10,October,2014
697,Government,Mexico,Montana,High,"1,368.00",5.00,7.00,"9,576.00","1,436.40","8,139.60","6,840.00","1,299.60",01/02/2014,2,February,2014
698,Government,Canada,Paseo,High,723.00,10.00,7.00,"5,061.00",759.15,"4,301.85","3,615.00",686.85,01/04/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,"1,806.00",250.00,12.00,"21,672.00","3,250.80","18,421.20","5,418.00","13,003.20",01/05/2014,5,May,2014

# Load

In [76]:
nome_arquivo_csv = "new_financials.csv"

df.to_csv(nome_arquivo_csv, index=False)